body {
    margin: 1rem auto;
    width: 90%;
}
.header {
    display: flex;
    background-color: aqua;
    align-items: center;
}

.navigation {
    margin-left: auto;
}

.navigation ul {
    display: flex;
}

.navigation li {
    margin: 1rem;
    list-style: none;
    background-color: darkgray;
    padding: .5rem;
    border-radius: .5rem;
}

.banner {
    position: relative;
    color: red;
    text-align: center;
}

.banner img {
    width: 100%;
}

.search {
    display: block;
    width: 70%;
    margin: 2rem auto;
    kefooo
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem auto;
    justify-content: center; 
    padding: 2rem;
    width: 75%;
}

.card {
    text-align: center;
}

.details {
    width: 10rem;
    background-color: lightgray;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 3rem auto;
    align-self: center;
}

@media only screen and (min-width: 678px) {
    .banner img {
        width: 80%;
    }
}





