body {
    margin: 1rem auto;
    width: 90%;
}
.header {
    display: flex;
    background-color: #3D81BF;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin-left: 4rem;
}

.navigation ul {
    display: flex;
}

.navigation li {
    margin: 0 6rem;
    list-style: none;
    background-color: lightgray;
    padding: 1rem;
    border-radius: .7rem;
}

.banner {
    position: relative;
    color: red;
    text-align: center;
}

.banner img {
    width: 100%;
}

.search {
    display: block;
    width: 70%;
    margin: 2rem auto;
    kefooo
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem auto;
    justify-content: center; 
    padding: 2rem;
    width: 75%;
}

.card {
    text-align: center;
}

.details {
    width: 10rem;
    background-color: lightgray;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 3rem auto;
    align-self: center;
}

.review {
    background-color: lightgrey;
    width: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 17rem;
    text-align: center;
    display: inline-block;
}

.para {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.footer {
    background-color: #3D81BF;
    margin-top: 1rem;
    padding: 2rem;
    font-size: 3rem;
}

.container {
    margin: 1rem;
}

@media only screen and (min-width: 678px) {
    .banner img {
        width: 80%;
    }
}





